<p id="notice" style="text-align:center; color:red; padding:1vw 0vw 2vw 0vw;"><%= notice %></p>
<p class="text-white bg-dark" style=" margin-top:-2vw;font-size:1.5vw; text-align:center; padding:.2vw 0vw .5vw 0vw; height:3vw;">My Blogs List</p>
<br>
<div style= "margin: 0vw 6vw 0vw 6vw; border-radius:1.5vw; box-shadow: 0vw -.2vw .5vw -.2vw rgba(0, 0, 0, 0.363);">
<br>
<table class="table" style="text-align:center;">
  <thead>
    <tr>
      <th>Author</th>
      <th>Title</th>
      <th>Description</th>
      <th>Topics</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_blogs.each do |my_blog| %>
      <tr>
        <td><%= my_blog.author %></td>
        <td><%= my_blog.title %></td>
        <td style="width:18vw; text-align:left"><%= my_blog.description%></td>
        <td><%= my_blog.topics %></td>
        <td><%= link_to 'Show', my_blog, class:"btn btn-secondary", style: "border-radius:.5vw;" %></td>
        <td><%= link_to 'Edit', edit_my_blog_path(my_blog), class:"btn btn-secondary", style: "border-radius:.5vw;" %></td>
        <td><%= link_to 'Destroy', my_blog, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger", style: "border-radius:.5vw;" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<div style="margin:0vw 0vw 0vw 40vw;">
<%= link_to 'Create New Blog', new_my_blog_path, class:"text-white btn btn-dark", style:"border-radius:.5vw;" %>
</div>
<br>
</div>
