<p id="notice"><%= notice %></p>
<p class="text-white bg-dark" style="font-size:1.5vw; text-align:center; padding:.2vw 0vw .5vw 0vw; height:3vw;">Show Details</p>
<br>
<br>
<div style="margin: 0vw 5vw 0vw 42.3vw; width:15vw; padding:2vw; border-radius:1vw; height:20vw; box-shadow: 0vw -.3vw .5vw -.2vw rgba(0, 0, 0, 0.363);">
<p>
  <strong>Author:</strong>
  <%= @my_blog.author %>
</p>

<p>
  <strong>Title:</strong>
  <%= @my_blog.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @my_blog.description %>
</p>

<p>
  <strong>Topics:</strong>
  <%= @my_blog.topics %>
</p>
<br>
<%= link_to 'Edit', edit_my_blog_path(@my_blog), class:"text-white btn btn-dark", style: "border-radius:.5vw; background-color: rgb(0, 0, 0);" %>
<%= link_to 'Back', my_blogs_path, class:"btn btn-secondary", style: "border-radius:.5vw;" %>
</div>